body {
  font-family: "Noto Sans", sans-serif;
}

.navbar div .navbar-brand {
  color: #316080;
  font-weight: bold;
}

.text h1 {
  color: #95c5dd;
}

.text p {
  color: #316080;
}

.button-div .btn {
  border: 1px solid #95c5dd;
}

.button-div .btn a {
  color: #316080;
  text-decoration: none;
}

.button-div .btn:hover {
  background-color: #95c5dd;
}

.button-div .btn a:hover {
  color: whitesmoke;
  text-decoration: none;
}
